body
{
background:url('Lighthouse.jpg');
background-size: 100%;
}
h2
{font-family:comic sans ms text;
background-color:rgb(75, 224, 235);
}
table
{background:white
}
.td {
font-weight:bold;
}
.dashed
{
border-style:dashed;
border-color:pink;
}